<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>FoodCirclesServer</servlet-name>
		<servlet-class>com.foodcirclesserver.FoodCirclesServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodCirclesServer</servlet-name>
		<url-pattern>/foodcirclesserver</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>FBOAuth</servlet-name>
	    <servlet-class>com.foodcirclesserver.FBOAuth</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>FBOAuth</servlet-name>
	    <url-pattern>/fboauth</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GetFriends</servlet-name>
	    <servlet-class>com.foodcirclesserver.user.GetFriendsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GetFriends</servlet-name>
	    <url-pattern>/getfriends</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GetCircles</servlet-name>
	    <servlet-class>com.foodcirclesserver.circles.GetCirclesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GetCircles</servlet-name>
	    <url-pattern>/getcircles</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>User</servlet-name>
	    <servlet-class>com.foodcirclesserver.user.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>User</servlet-name>
	    <url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GetCircleMembers</servlet-name>
	    <servlet-class>com.foodcirclesserver.circles.GetCircleMembersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GetCircleMembers</servlet-name>
	    <url-pattern>/getcirclemembers</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Circle</servlet-name>
	    <servlet-class>com.foodcirclesserver.circles.CircleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Circle</servlet-name>
	    <url-pattern>/circle</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>GetChat</servlet-name>
	    <servlet-class>com.foodcirclesserver.chat.GetChatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GetChat</servlet-name>
	    <url-pattern>/getchat</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>SendMessage</servlet-name>
	    <servlet-class>com.foodcirclesserver.chat.SendMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SendMessage</servlet-name>
	    <url-pattern>/sendmessage</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GetInvites</servlet-name>
	    <servlet-class>com.foodcirclesserver.circles.GetInvitesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GetInvites</servlet-name>
	    <url-pattern>/getinvites</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>SendInvite</servlet-name>
	    <servlet-class>com.foodcirclesserver.circles.SendInviteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SendInvite</servlet-name>
	    <url-pattern>/sendinvite</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>InviteResponse</servlet-name>
	    <servlet-class>com.foodcirclesserver.circles.InviteResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>InviteResponse</servlet-name>
	    <url-pattern>/invite</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
